* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #00000000;
}
.header li {
    display: inline-block;
    margin: 25.5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}
.header a {
    text-decoration: none;
    color: #FF0000;
}
.main-picture {
    max-height: 789px;
    height: 100%;
}
.main-content {
    color: #373737;
    text-align: center;
}
.main-content h2 {
    margin-top: 48px;
    margin-bottom: 38px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}
.main-content p {
    margin-right: 67.5px;
    margin-bottom: 28px;
    margin-left:67.5px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.button {
    border-radius: 4px;
    background-color:#FF0000;
    display: inline-block;
    margin: 42px;
    padding: 18px 43.5px 17px 42.5px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
.footer p {
    margin-top: 40px;
    margin-right: 105px;
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.4px;
    text-align: right;
    color: #373737;
}